<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Bottles To Filament App</title>
  </head>
  <body>
    <div class="container-fluid" id="app">
      <div class="row">
        <div class="col-sm text-small text-muted text-right">
          <span
            class="badge badge-pill badge-danger"
            v-bind:class="{'badge-danger': !boardOnline, 'badge-success': boardOnline}"
          >{{boardOnline ? "Online" : "Offline"}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <h4>Choose plastic type:</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm text-center">
          <img
            class="rounded"
            v-for="plastic in plasticTypes"
            v-bind:class="{'selected': plastic.selected}"
            v-bind:src="plastic.icon"
            v-on:click="setPlastic(plastic)"
          />
        </div>
      </div>
      <form>
        <div class="form-group row">
          <label for="thickness" class="col-sm-4 col-form-label">Thickness:</label>
          <div class="col-sm-8">
            <input
              type="number"
              step="0.5"
              class="form-control text-right"
              id="thickness"
              v-model="TH"
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="width" class="col-sm-4 col-form-label">Set type width to:</label>
          <div class="col-sm-8">
            <input
              type="number"
              disabled
              step="0.5"
              class="form-control text-right"
              id="width"
              v-model="W"
            >
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm">
          <h4>or set parameters manually:</h4>
        </div>
      </div>
      <form>
        <div class="form-group row">
          <label for="temp" class="col-sm-4 col-form-label">Temperature:</label>
          <div class="col-sm-8">
            <input
              type="number"
              step="0.5"
              class="form-control text-right"
              id="temp"
              v-model="T"
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="temp" class="col-sm-4 col-form-label">Speed:</label>
          <div class="col-sm-8">
            <input
              type="number"
              step="0.5"
              class="form-control text-right"
              id="temp"
              v-model="V"
            >
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-sm">
          <button
            type="button"
            class="btn btn-primary btn-md btn-block"
          >Start</button>
        </div>
        <div class="col-sm">
          <button type="button" class="btn btn-outline-danger btn-md btn-block">Stop</button>
        </div>
      </div>
    </div>
    <script src="js/vue.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
